* {
  text-align: center;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

html {
  background-image: url(https://wallpaperset.com/w/full/4/0/4/71062.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
